.footer {
  text-align: center;
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;

  svg {
    display: block;
    margin: auto auto 2em;
  }

  a {
    display: block;
    color: var(--gray);
    text-decoration: none;
    margin-bottom: 1.5em;
  }

  &__social {
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: .8em;
    margin-bottom: 0;
  }

  &__button {
    padding: 1.5em;
  }

  &__copy {
    color: var(--grayBlue);
  }
}
