.hero {
  text-align: center;
  padding-bottom: 6em;

  .copy {
    margin-bottom: 2.2em;
  }

  &__image {
    height: 300px;
    margin: 0 -1.5em;
    background: url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
    background-size: 345px, cover;
    margin-bottom: 1.5em;
  }

  @media only screen and (min-width: 768px){
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") right -350px top -190px no-repeat;
    background-color: var(--white);
    background-size: 953px 775px;
    padding-bottom: 0;
    height: 500px;

    .wrapper {
      padding: 0 3em;
    }

    .copy {
      font-size: 1.1em;
    }

    .title__h1 {
      font-size: 3em;
    }

    &__content {
      display: grid;
      grid-template-areas: "description image";
      grid-template-columns: 400px 1fr;
      min-height: 566px;
      align-items: center;
    }

    &__description {

    }

    &__image {
      grid-area: image;
      min-height: inherit;
      position: absolute;
      width: 750px;
      background: url("../images/image-mockups.png") right -100px top -90px no-repeat;
      background-size: 575px 704px;
      right: 20px;
      height: 780px;
    }
  }

  @media only screen and (min-width: 1440px) {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") right -470px top -260px no-repeat;
    background-size: auto;
    padding-bottom: 6em;
    height: 566px;
    //margin-bottom: 1.5em;

    .wrapper {
      padding: 0 1.5em;
    }

    .copy {
      font-size: 1.12em;
    }

    &__image {
      grid-area: image;
      min-height: inherit;
      position: absolute;
      width: 750px;
      background: url("../images/image-mockups.png") right -135px top -110px no-repeat;
      background-size: cover;
      right: 20px;
      height: 780px;
    }
  }
}
